<section style='pv-30 light-gray-bg'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title">Reviews</h2>
        <div class="separator-2"></div>
        <!-- comments start -->
        <div class="comments margin-clear space-top">
          <!-- comment start -->
          <% 5.times do %>
            <%= render 'shared/review' %>
          <% end %>
          <!-- comment end -->
        </div>
        <!-- comments end -->
      </div>
    </div>
  </div>
</section>
