<div class="comment clearfix">
  <div class="comment-avatar">
    <img class="img-circle" src="https://image.flaticon.com/icons/png/512/78/78373.png" alt="avatar">
  </div>
  <header>
    <h3><%= review.user %></h3>
    <div class="comment-meta">
      <%= render 'shared/ranking_stars', rating: review.rating %> | Today, 12:31
    </div>
  </header>
  <div class="comment-content">
    <div class="comment-body clearfix">
      <p><%= review.content %> </p>
    </div>
  </div>
</div>