.header{
  background: $orange;
  border-top: none;
}

.header-top:not(.banner) {
  background: $red;
  color: white;
  border: none;  
}


.navbar-default .navbar-nav > li > a {
  color: white;
  border: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background: none;
  color: white;
}

.main-navigation .navbar-nav > .open > a, .main-navigation .navbar-nav > .open > a:hover, .main-navigation .navbar-nav > .open > a:focus, .main-navigation .navbar-nav > .dropdown > a:focus{
  background: none;
  color: $red;
  border: none;
}
.main-navigation .navbar-nav > .open > a, .main-navigation .navbar-nav > .open > a:hover, .main-navigation .navbar-nav > .open > a:focus, .main-navigation .navbar-nav > .dropdown > a:hover{
  background: none;
  color: $red;
  border: none;
}

.fixed-header-on .header.fixed:not(.dark) {
    background-color: rgba(241, 119, 52, 1);
}

@media (min-width: 768px){
  .fixed-header-on .main-navigation .navbar-nav > li > a {
      padding-top: 15px !important;
      padding-bottom: 15px !important;
  }
  .fixed-header-on .header:not(.centered) .main-navigation.with-dropdown-buttons .header-dropdown-buttons {
    top: 8px;
  }
}