<div class="listing-item mb-20">
  <div class="row grid-space-0">

    <div class="col-xs-4">
      <div class="overlay-container">
        <%= cl_image_tag brand.logo, style:'padding: 20px; max-height: 130px;'%>
      </div>
    </div>

    <div class="col-xs-8">
      <h3 class="margin-clear"><%= link_to brand.name, brand_path(brand.name) %></a></h3>
        <p>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star"></i>
        </p>
        <p><%= brand.description.first(300) + '...' %><a href="#" style="padding-left: 10px;">Plus de détails >></a></p>
        <div class="elements-list clearfix"></div>
    </div>

  </div>
</div>