<div class='container'>
  <h1>Tous les kites</h1>
  <%= link_to 'Ajouter du matos', new_product_path %><br>
  <% @products.each do |product| %>
    <%= product.brand.name %> - <%= product.model %> <%= link_to '>', product_path(product) %><br>
  <% end %>
</div>